{% extends 'admin/index.html' %}

{% block body %}
    <style type="text/css">
        .content-center
        {
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .content
        {
            width: 260px;
            height: 140px;
            margin-left: -130px;
            margin-top: -70px;
        }
        .ft-center
        {
            text-align: center;
        }
    </style>
    <div class="content-center">
        <div class="content">
            <h4 class="ft-center">欢迎您回来, {{current_user.username}}！</h4>
            <form action="{{ url_for('Base.logout')}}">
                <input class="col-xs-12 btn btn-primary" type="submit" value="退出">
            </form>
        </div>
    </div>
{% endblock %}